.big-container, #profile-detail-page{
  
  .capitalize-font{
    text-transform: capitalize;
  }

  .action{
    display: flex;
    justify-content: flex-end;
    text-align: right;
    margin-left: 15px;

    img{
      height: 30px;
      margin-right: 20px;
    }
  }

  .uppercase-font{
    text-transform: uppercase;
    font-weight: bold;
  }

  .profile-sub-title{
    font-weight: 700;
  }

  .content-lines{
    color: grey;
    text-align: center;
  }

  p{
    margin: 5px;
  }

  .big-numbers{
    font-size: 2.2rem;
  }

  .profile-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 80%;
    max-width: 800px;
    margin-bottom: 150px;

    .profile-card{
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      width: 80%;
      max-width: 600px;
      
      border-radius: 30px;
      margin-bottom: 20px;
      padding: 20px 20px 20px 20px;
      box-shadow: 0px 10px 20px 0px #bfbfbf;
      background-color: white;

      .top-section{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        text-align: right;
        margin-bottom: 10px;
      
        .image-box{
          width: 30%;

          img{
            width: 150px;
            height: 150px;
            object-fit: cover;
            border-radius: 150px;
            border: 1px solid lightgray;
          }
        }

        .personal-details{
          width: 50%;

          .username{
            text-transform: uppercase;
            margin: 0px 0px;
          }

          .usertype{
            text-transform: capitalize;
            font-style: italic;
            color: lightgrey;
            margin-top: 5px;
          }

          .details-columns{
            display: flex;

            .designation{
              width: 60%;
            }

            .details{
              width: 40%;
              p{
                color: grey;
              }
            }
          }
        }
      }

      .bottom-section{
        display: flex;

        .user-content{
          width: 30%;
          display: flex;
          flex-direction: column;
          align-items: center;
        }

        .perf-address{
          width: 70%;
          display: flex;
          flex-direction: column;

          .perf{
            display: flex;
            height: 50%;

            .jobs{
              width: 50%;
              height: 100%;
              display: flex;
              flex-direction: column;
              align-items: center;
            }

            .earn{
              width: 50%;
              height: 100%;
              display: flex;
              flex-direction: column;
              align-items: center;
            }
          }

          .address{
            height: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
          }
        }
      }
    }
  }

  @media (max-width: 800px) {
    .profile-container{
      width: 90%;
    }
  } 

  @media (max-width: 600px) {
    .profile-container{
      width: 100%;
    }
  } 

  @media (max-width: 600px) {
    .profile-container{
      width: 100%;
      
      .profile-card{
        .top-section{
          flex-direction: column;
          align-items: left;
          .image-box{
            margin-bottom: -60px;
          }
          .personal-details{
            width: 100%;
            .username{
              margin-top: 10px;
             }
          }
        }
        .bottom-section{
          flex-direction: column;
          align-items: left;
          .user-content, .perf-address{
            width: 100%;
          }
        }

      }
    }
  }
  @media (max-width: 500px) {
    .profile-container{      
      .profile-card{
        .top-section{
          .image-box{
            margin-bottom: -35px;
          }
        }
      }
    }
  } 
}
