#main-nav{
    z-index: 1;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 0;
    background-color: #FEFCFF;
    div{
        bottom: 2.8rem;
        background-color: rgb(255, 255, 255);
        position: absolute;
        border-radius: 30px;
        display: flex;
        align-self: center;
        justify-content: center;
        align-content: flex-end;
        height: 4rem;
        width: 4rem;
        padding: 0;
        margin: 0;
        border: 0;
    }
    h2{
        font-size: 3rem;
        padding: 0 5rem;
        color: #3498db;
    }
    ul{
        display: flex;
        flex-direction: row;
        list-style: none;
        justify-content: space-evenly;
        margin: 5px 0px 2px;
        li{
            background-color: #FEFCFF;
            display: flex;
            border: 0;
            align-content: center;
            justify-content: center;
            border-radius: 10px;
            font-weight: 800;
            margin: 0 0rem;
            font-size: 1rem;

            img{
                align-self: center;
                height: 2rem;
            }
        }
    }
}
@media(max-width: 600px){
    nav {
        border-top: #4cc2e9 1px solid;
        display: flex;
        position: fixed;
        flex-direction: row;
        width: 100%;
        right: 0;
        justify-self: start;
        bottom: 0%;
        z-index: 3;
        h2{
            position: absolute;
            visibility: hidden;
            z-index: -1;
            font-size: 0rem;
            padding: 0 5rem;
            color: #3498db;
        }
        
        ul{
            padding: 0;
            margin: 0 0 1rem 0;
            width: 100%;
            z-index: 1;
            display: flex;
            flex-direction: row;
            list-style: none;
            justify-content: space-evenly;
            li{
                background-color: #fff;
                border-radius: 10px;
                padding: 1rem;
                border: 0;
                font-weight: 500;
                margin: 0 0rem;
                font-size: 1.2rem;
            }
        }
    }
}