#main-nav{
    z-index: 10;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 0;
    background-color: #fff;
    #add-jobs{
      padding: 1rem;
      cursor: pointer;
      order: 3;
      div{
        cursor: pointer;
        background-color: rgb(255, 255, 255);
        border-radius: 30px;
        display: flex;
        align-self: center;
        justify-content: center;
        align-content: flex-end;
        height: 4rem;
        width: 4rem;
        padding: 0;
        margin: 0;
        border: 0;
      }
      #cleanHouse{
        height: 3.5rem;
        margin-bottom: 0rem;
        img{
            margin-bottom: 1rem;
            width: 7rem;
        }
    }

    }

    h2{
        font-size: 3rem;
        padding: 0 5rem;
        color: #3498db;
    }
    ul{
        display: flex;
        flex-direction: row;
        list-style: none;
        justify-content: space-evenly;
        margin: 5px 0px 2px;

        li{
            background-color: #fff;
            display: flex;
            border: 0;
            align-content: center;
            justify-content: center;
            flex-direction: column;
            text-align: center;
            border-radius: 10px;
            font-weight: 800;
            margin: 0 0rem;
            font-size: 1rem;
            span{
                font-size: 0.7rem;
                font-weight: 500;
            }
            img{
                align-self: center;
                height: 2rem;
            }
        }
    }
}
@media(max-width: 600px){
    #main-nav {
        border-top: #4cc2e9 1px solid;
        display: flex;
        position: fixed;
        flex-direction: row;
        width: 100%;
        right: 0;
        justify-self: start;
        bottom: 0%;
        background-color: white;
        z-index: 10;
        #add-jobs{
            display: flex;
            position: absolute;
            bottom: 2.8rem;
            align-self: center;
            padding: 0;
            margin: 0;
            border: 0;
            justify-content: center;
            align-content: flex-end;
            background-color: rgb(255, 255, 255);
            border-radius: 30px;
            div{  
                border-radius: 30px;
                height: 4rem;
                width: 4rem;
            }
        }
        h2{
            position: absolute;
            visibility: hidden;
            z-index: -1;
            font-size: 0rem;
            padding: 0 5rem;
            color: #3498db;
        }
        
        ul{
            padding: 0;
            margin: 0;
            width: 100%;
            z-index: 10;
            display: flex;
            flex-direction: row;
            list-style: none;
            justify-content: space-evenly;
            a{
                padding: 0rem;
                border: 0;
                display: flex;
                flex-direction: column;
                justify-content: center;
                text-align: center;
                margin: 0 0rem;
                span{
                    font-size: 0.7rem;
                    font-weight: 500;
                }
            }
        }
    }
}


.rotate-center {
	-webkit-animation: rotate-center 0.6s ease-in-out both;
	        animation: rotate-center 0.6s ease-in-out both;
}

@-webkit-keyframes rotate-center {
    0% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(45deg);
              transform: rotate(45deg);
    }
  }
  @keyframes rotate-center {
    0% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(45deg);
              transform: rotate(45deg);
    }
  }

  .wobble-hor-bottom {
    -webkit-animation: wobble-hor-bottom 0.8s both;
            animation: wobble-hor-bottom 0.8s both;
  }

@-webkit-keyframes wobble-hor-bottom {
  0%,
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-30px) rotate(-6deg);
            transform: translateX(-30px) rotate(-6deg);
  }
  30% {
    -webkit-transform: translateX(15px) rotate(6deg);
            transform: translateX(15px) rotate(6deg);
  }
  45% {
    -webkit-transform: translateX(-15px) rotate(-3.6deg);
            transform: translateX(-15px) rotate(-3.6deg);
  }
  60% {
    -webkit-transform: translateX(9px) rotate(2.4deg);
            transform: translateX(9px) rotate(2.4deg);
  }
  75% {
    -webkit-transform: translateX(-6px) rotate(-1.2deg);
            transform: translateX(-6px) rotate(-1.2deg);
  }
}
@keyframes wobble-hor-bottom {
  0%,
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-30px) rotate(-6deg);
            transform: translateX(-30px) rotate(-6deg);
  }
  30% {
    -webkit-transform: translateX(15px) rotate(6deg);
            transform: translateX(15px) rotate(6deg);
  }
  45% {
    -webkit-transform: translateX(-15px) rotate(-3.6deg);
            transform: translateX(-15px) rotate(-3.6deg);
  }
  60% {
    -webkit-transform: translateX(9px) rotate(2.4deg);
            transform: translateX(9px) rotate(2.4deg);
  }
  75% {
    -webkit-transform: translateX(-6px) rotate(-1.2deg);
            transform: translateX(-6px) rotate(-1.2deg);
  }
}
