nav{
    z-index: 1;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 0;
    border-top: #4cc2e9 1px solid;
    background-color: white;
    div{
        bottom: 2.8rem;
        background-color: rgb(255, 255, 255);
        position: absolute;
        border-radius: 30px;
        display: flex;
        align-self: center;
        justify-content: center;
        align-content: flex-end;
        height: 4rem;
        width: 4rem;
        padding: 0;
        margin: 0;
        border: 0;
    }
    h2{
        font-size: 3rem;
        padding: 0 5rem;
        color: #3498db;
    }
    ul{
        display: flex;
        flex-direction: row;
        list-style: none;
        width: 40%;
        justify-content: space-evenly;
        margin: 5px 0px 2px;
        li{
            background-color: rgb(75, 195, 235);
            border-radius: 10px;
            padding: 1rem;
            color: #fff;
            font-weight: 800;
            margin: 0 0rem;
            font-size: 1rem;

            img{
                height: 2rem;
                margin-left: 1em;
                margin-bottom: 0;
            }
        }
    }
}
@media(max-width: 600px){
    nav {
        display: flex;
        position: fixed;
        flex-direction: row;
        width: 100%;
        justify-self: start;
        bottom: 0%;
        z-index: 3;
        h2{
            position: absolute;
            visibility: hidden;
            z-index: -1;
            font-size: 3rem;
            padding: 0 5rem;
            color: #3498db;
        }
        
        ul{
            padding: 0;
            margin: 0.3rem 0 0 0;
            width: 100%;
            z-index: 1;
            display: flex;
            flex-direction: row;
            list-style: none;
            justify-content: space-evenly;
            li{
                background-color: #fff;
                border-radius: 10px;
                padding: 1rem;
                color: rgb(75, 195, 235);
                font-weight: 500;
                margin: 0 0rem;
                font-size: 1.2rem;
            }
        }
    }
    
    .header{
        z-index: 0;
        top: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom:2rem ;
        text-align: center;
        .image{
            order: 2;
            height: auto;
            width: 100%;
            img{
                width: 100%;
            }
        }
        .info{
            margin-top: 2rem;
            order: 1;
            display: flex;
            flex-direction: column;
            text-align: center;
            h1{
                margin: 0;
                color: rgb(75, 195, 235);
                z-index: 2;
                font-size: 3rem;
            }
            p{
                align-self: center;
                font-size: 1.5rem;
                color: #3498db;
                width: 80%;
            }
        }
        
    }
    .section1{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-content: space-around;
        justify-content: space-between;
        div{
            display: flex;
            justify-content: center;
            width: 100%;
            text-align: center;
        }
        h1{
            color: #C5CBE7;
            z-index: 2;
            font-size: 2rem;
            width: 90%;
        }
        p{
            font-weight: 800;
            font-size: 1.1rem;
            color: #3498db;
            width: 80%;
        }
    }
    .section-row{
        margin: 0;
        flex-direction: column;
        .row{
            flex-direction: column;
            div{
                width: 70%;
                h3{
                    width: 100%;
                }
                p{
                    width: 100%;
                }
            }
           
        }
    }
}