@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&family=Ubuntu:wght@500;700&display=swap');
body{
  margin: 0;
  padding: 0;
  background-color: #FEFCFF;
}

.green{
  background-color: #DAF0EE;
  color: #999;
}

.red{
  background-color: #FF8585;
  color: #999;
}

.grey{
  background-color: #F1F5F9;
}

.blue{
  background-color: #4BC3EB;
}

.title-blue{
 background-color: #3498DB;
 color: white;
}

.purple{
  background-color: #C5CBE7;
}

h1, h2, h3, h4{ 
  font-family: 'Ubuntu', sans-serif;
  color: #3498DB;
}

h5, h6, p, span, a, li, input{
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  color: black;
}

label{
  font-family: 'Open Sans', sans-serif;
  font-size: 0.8rem;
  color: #999;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.7rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.2rem;
}

button{
  border-radius: 5px;
  padding: 5px 10px;
  border: 1px solid #999999;
  font-weight: bold;
  cursor: pointer;
}

.box{
  border-radius: 5px;
  border: 1px solid #999999;
}

.big-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.heartbeat {
  animation: heartbeat 1.5s ease-in-out both;
  animation-delay: 2s;
}

@keyframes heartbeat {
  from {
    transform: scale(1);
    transform-origin: center center;
    animation-timing-function: ease-out;
  }
  10% {
    transform: scale(0.91);
    animation-timing-function: ease-in;
  }
  17% {
    transform: scale(0.98);
    animation-timing-function: ease-out;
  }
  33% {
    transform: scale(0.87);
    animation-timing-function: ease-in;
  }
  45% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
}